<!doctype html>
<html lang="en">
    <head>	
		<LINK rel="stylesheet" type="text/css" href="./css/bootstrap.css">
		<link href="./css/bootstrap-table.min.css" rel="stylesheet">
        <style>
            /* Ajoutez une classe de marge à la page entière */
            body {
                margin: 20px; /* Exemple de marge de 20 pixels sur tous les côtés de la page */
            }
        </style>
        <script type="text/javascript" src="./js/bootstrap.bundle.min.js"></script>
		<script src="./js/jquery.min.js"></script>
		<script src="./js/bootstrap-table.min.js"></script>
    </head>
    <body>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <a id="home" />Datasets
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for l in profiles -%}
                <li><a class="dropdown-item" href="#{{ l.name }}">{{ l.name }}</a></li>
                {% endfor %}
            </ul>
        </div><br>
            {% for l in profiles -%}
            <H2><a id="{{ l.name }}" /><A href="{{ l.link }}">{{ l.name }}</A></H2>
            <TABLE data-toggle="table"
                    data-search="true"
                    data-search-highlight="true"
                    data-show-columns="true" 
                    data-height="460">
                <thead>
                    <TR>
                        <TH data-sortable="true">Column Name</TH>
                        <TH data-sortable="true">Distinct Values</TH>
                        <TH data-sortable="true">Missing Values</TH>
                        <TH data-sortable="true">Type</TH>
                        <TH data-sortable="true">Is Unique</TH>
                        <TH data-sortable="true">Value Counts</TH>
                    </TR>
                </thead>
                <tboby>
                {% for col in l.columns -%}
                <TR>
                    <TD><B>{{ col.name }}</B></TD>
                    <TD>{{ col.distinct }}</TD>
                    <TD>{{ col.missing }}</TD>
                    <TD>{{ col.type }}</TD>
                    <TD>{{ col.is_unique }}</TD>
                    <TD>{{ col.freqDistrib }}</TD>
                </TR>
                {% endfor %}
                </tboby>
            </TABLE>
            <br>
			<div class="text-end">
                <button type="button" class="btn btn-secondary btn-sm" onclick="window.open('#home', '_self')">TOP</button>
            </div>
            {% endfor %}

</html>