<!doctype html>
<html lang="en">
    <head>	
		<LINK rel="stylesheet" type="text/css" href="./css/bootstrap.css">
      <style>
        /* Ajoutez une classe de marge à la page entière */
        body {
            margin: 20px; /* Exemple de marge de 20 pixels sur tous les côtés de la page */
        }
        .marginrow { 
            margin-top:15px; 
        }
        .borderrow { 
              border-bottom: 1px solid #ccc;
              padding: 15px;
		    }
    </style>
    </head>
    <body>
        <div class="row">
          <div class="col fixed">
            <img src="img/home_64px.png" />
          </div>
          <div class="col">
            <H2>CSV files Profiling</H2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p align="left">From <b>{{ sourcefolder }}</b>
          </div>
        </div>

        {% for l in profiles -%}
        <div class="row marginrow borderrow">
          <div class="col-1 my-auto">
            <A href="{{ l.link }}" target=profile><img src="img/detailed.png" width="25px" /></a>
          </div>
          <div class="col-1 my-auto">
            <A href="home.html#{{ l.name }}" target=profile><img src="img/notdetailed.png" width="25px" /></A>
          </div>
          <div class="col-7 my-auto">
            <div class="fw-bold"><A href="home.html#{{ l.name }}" target=profile>{{ l.name }}</A></div>
            <span class="badge bg-primary rounded-pill my-auto">{{ l.columnsCount }} cols</span>
            <span class="badge bg-secondary rounded-pill my-auto">{{ l.rowsCount }} rows</span>
          </div>
        </div>
        {% endfor %}
    </body>
</html>