<html>
    <head>	
		<LINK rel="stylesheet" type="text/css" href="bootstrap.css">
        <style>
            /* Ajoutez une classe de marge à la page entière */
            body {
                margin: 20px; /* Exemple de marge de 20 pixels sur tous les côtés de la page */
            }
        </style>
        <script type="text/javascript" src="bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <a id="home" />Datasets
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for l in links -%}
                <li><a class="dropdown-item" href="#{{ l.name }}">{{ l.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <H1>Profiling summary</H1>
            {% for l in links -%}
            <H2><a id="{{ l.name }}" />File:&nbsp;<A href="{{ l.link }}">{{ l.name }}</A></H2>
            <TABLE class="table .table-sm table-striped table-bordered">
                <thead>
                    <TR>
                        <TH>Column Name</TH>
                        <TH>Distinct Values</TH>
                        <TH>Missing Values</TH>
                        <TH>Type</TH>
                        <TH>Is Unique</TH>
                        <TH>Value Counts</TH>
                    </TR>
                </thead>
                <tboby>
                {% for col in l.columns -%}
                <TR>
                    <TD><B>{{ col.name }}</B></TD>
                    <TD>{{ col.distinct }}</TD>
                    <TD>{{ col.missing }}</TD>
                    <TD>{{ col.type }}</TD>
                    <TD>{{ col.is_unique }}</TD>
                    <TD>{{ col.freqDistrib }}</TD>
                </TR>
                {% endfor %}
                </tboby>
            </TABLE>
			<div class="text-end">
                <button type="button" class="btn btn-secondary btn-sm" onclick="window.open('#home', '_self')">TOP</button>
            </div>
            {% endfor %}

</html>